html {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body {
    background-color: #000A1C;
}

h1 {
    color: #D3CFCF;
    text-align: center
}

#fillominoBoard {
    display: flex;
    flex-direction: column;
    flex-basis: auto; 
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.board-cell {
    animation-duration: 1.5s;
    width: 50px;
    height: 50px;
    max-height: 100%;
    max-width: 100%;
    color: #D3CFCF;
    font-size: 15px;
    /* aligning items in table */
    display: flex;
    align-items: center;
    justify-content: center;
    /* ended alignment */
    /* added to put buttons in top
    right corners of board-cells*/
    position: relative;
    cursor: pointer
}

.board-cell:hover {
    background: rgba(116, 163, 230, 0.39);
}

.setfield {
    background-color: rgba(3, 41, 99, 0.4);
}

@keyframes display {
    from {opacity: 0;}
    to {opacity: 100}
}

.board-row {
    display: flex;
    margin: auto;
}

.board-row:not(:last-child){
    border-bottom: 2px solid rgba(56, 129, 255, 0.41);
}
  
.board-row > .board-cell:not(:last-child) {
    border-right: 2px solid rgba(56, 129, 255, 0.41);;
}

.reset {
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    font-size: 10px;
    color: white;
    align-content: center;
    /* An element with position: absolute; is positioned relative to the 
    nearest positioned ancestor (instead of positioned relative to the viewport, like fixed).
    However; if an absolute positioned element has no positioned ancestors,
    it uses the document body, and moves along with page scrolling.*/
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(0, 204, 255, 0.28);
}
#restart, .button-row {
    text-align: center;
    background: rgba(3, 41, 99, 0.4);
    border: 1px solid;
    border-radius: 12px;
    border-color: #eee;
    color: #eee;
    width: 100px;
    height: 25px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    /* justifing content of the button */
    justify-content: center;
    /* determining the speed of 'hover' effect */
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#restart:hover,.button-row:hover {
    background-color: #eee; /* Green */
    color: rgb(43, 12, 248);
    border-color: rgba(3, 41, 99, 0.4);
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 400px;
    margin: 0 auto;
}
.button-row {
    width: 30px;
    margin: 5px;
    text-align: center;
    justify-content: center;
}
label {
    color:white;
    margin-right: 10px;
}
#message {
  /*Ovim stilizujemo gresku.*/
  color: white;
  pointer-events: none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
#message > span {
  font-size: 1.2em;
  background-color:  rgba(56, 129, 255, 0.41);
  padding: 1em 1.4em;
  width: 100%;
  text-align: center;
}

.win {
  animation: display;
  animation-duration: 1.5s;
}

/* we are using `media screen` to ajdust the size of
the table on screens smaller than its size */
@media screen and (max-width: 400px) {
/* minimum width of the screen to fit the 
table is 400px */
    #fillominoBoard, .board-cell, .board-row {
        width: 100%;
    }
    #resetGame {
        width: 20%;
    }
    #buttonContainer{
        width: 100%;
    } 
    label, {
        display: none;
    }
    .reset {
        width:50%;
    }
    
}
@media screen and (max-height: 500px) {
    #fillominoBoard, .board-cell, .board-row{
        height: 50%;
    }
    .board-cell {
        min-height: 20px;
    }
    .reset{
        height: 50%;
    }
}
